<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth_styles.css') }}" />
</head>
<body>
    <div class="auth-container">
      <h2>Forgot Password</h2>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flash-messages">
            {% for category, message in messages %}
              <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    
      <form method="POST">
        <div class="input-wrapper">
          <input type="email" name="email" placeholder="Enter your email" required />
        </div>
        <button class="btn jobseeker-btn" type="submit">Send Reset Link</button>
      </form>
    </div>
</body>
</html>
  